body {
  width: 100%;
  height: 100%;
  margin: 0;
}

 header {
   text-align: center;
   
 }
 
 figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
 
 nav{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  color: grey ;
  padding-left: 10px;
  padding-right: 10px;
  }
  
  
img{
   width: 100%;
  height: auto;
  font-size: 10px
}

p #featured-property{
  text-align: center;
  width: 800px;
  }
  
  div #details{
    display:block;
    float: left;
    }

  